@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@500&family=Work+Sans:wght@300&display=swap');

html {
  height: 100%;
}

body {
  font-family: 'Work Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cormorant', sans-serif;
}

.rich-text ul {
  list-style: disc;
  list-style-position: inside;
}

.rich-text ol {
  list-style: decimal;
  list-style-position: inside;
}
