:root {
  --screen-lg: 1440px;
}

body {
  max-width: var(--screen-lg);
  margin: 0 auto;
}

.main {
  min-height: 100vh;
}

/*** HERO ***/
.hero {
  background-image: url('/assets/home-hero.jpg');
}
