@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Lato&display=swap');

:root {
  --screen-lg: 1440px;
}

html {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Didact Gothic', sans-serif;
}

.header > div {
  max-width: var(--screen-lg);
}

/*** HERO ***/
.hero {
  background-position: center;
  background-size: cover;
}

.collection_products::-webkit-scrollbar {
  display: none;
}

.collection_product_image {
  overflow: hidden;
}

.collection_product_image img {
  transition: transform 0.5s ease;
}

.collection_product_image img:hover {
  transform: scale(1.1);
}

.collection_product_item {
  flex-basis: 1;
  min-width: 100%;
}

@media (min-width: 480px) {
  .collection_product_item {
    min-width: calc(calc(100% / 2) - 0.5rem);
    flex-basis: calc(calc(100% / 2) - 0.5rem);
  }
}

@media (min-width: 640px) {
  .collection_product_item {
    min-width: calc(calc(100% / 3) - 0.5rem);
    flex-basis: calc(calc(100% / 3) - 0.5rem);
  }
}

@media (min-width: 960px) {
  .collection_product_item {
    min-width: calc(calc(100% / 4) - 0.5rem);
    flex-basis: calc(calc(100% / 4) - 0.5rem);
  }
}
